 body {
     font-family: Arial;
     }
    .calendar { 
        display: grid; 
        grid-template-columns: repeat(7, 1fr); 
        gap: 5px; 
        width: 100%; 
        max-width: 700px; 
        margin: auto; }
    .day { 
        padding: 10px; 
        border: 1px solid #ccc; 
        text-align: center; 
        cursor: pointer; }
    .day:hover { 
        background-color: #f0f0f0; }
    #details { 
        margin-top: 20px; 
        text-align: center; }